* {
    margin: 0;
    padding: 0;
}

.nombre-navbar {
    font-size: 0.87rem;
}

@media (min-width: 768px) {
    .nombre-navbar {
        font-size: 1.25rem;
    }
}

.fondo-seccion {
  background-color: #006cbd;
  padding: 60px 0;
}

.icon {
    color: #006cbd;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}